<launch>
    <!-- PIDtest Node-->
    <node pkg="ras_lab1_motor_controller" type="motor_controller" name="motor_controller"/>

    <node pkg="ras_lab1_cartesian_controllers" type="line_cartesian_controller" name="line_cartesian_controller"/>
    
    <node pkg="pid" type="controller" name="PIDR"
          args="5 0.0 0.0 10 -tfp /state/right -tfc control_effort/right -nn PIDRight -ul 255 -ll -255" />
    <node pkg="pid" type="controller" name="PIDL"
          args="5 0.0 0.0 10 -tfp /state/left -tfc /control_effort/left -nn PIDLeft -ul 255 -ll -255" />    
</launch>